.pagination-container {
  text-align: center;
  margin-bottom: 30px;
}
/* .search {
  height: 100px;
}

input[type="text"] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
} */
#app {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  grid-gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
