.Normal {
  background-color: #a8a878;
  border: 1px solid #6d6d4e;
  color: #fff;
}

.Fire {
  background-color: #f08030;
  border: 1px solid #9c531f;
  color: #fff;
}

.Water {
  background-color: #6890f0;
  border: 1px solid #445e9c;
  color: #fff;
}

.Electric {
  background-color: #f8d030;
  border: 1px solid #a1871f;
  color: #fff;
}

.Grass {
  background-color: #78c850;
  border: 1px solid #4e8234;
  color: #fff;
}

.Ice {
  background-color: #98d8d8;
  border: 1px solid #638d8d;
  color: #fff;
}

.Ground {
  background-color: #e0c068;
  border: 1px solid #927d44;
  color: #fff;
}

.Flying {
  background-color: #a890f0;
  border: 1px solid #6d5e9c;
  color: #fff;
}

.Ghost {
  background-color: #705898;
  border: 1px solid #493963;
  color: #fff;
}

.Rock {
  background-color: #b8a038;
  border: 1px solid #786824;
  color: #fff;
}

.Fighting {
  background-color: #c03028;
  border: 1px solid #7d1f1a;
  color: #fff;
}

.Poison {
  background-color: #a040a0;
  border: 1px solid #682a68;
  color: #fff;
}

.Psychic {
  background-color: #f85888;
  border: 1px solid #a13959;
  color: #fff;
}

.Bug {
  background-color: #a8b820;
  border: 1px solid #6d7815;
  color: #fff;
}

.Dark {
  background-color: #705848;
  border: 1px solid #49392f;
  color: #fff;
}

.Steel {
  background-color: #b8b8d0;
  border: 1px solid #787887;
  color: #fff;
}

.Dragon {
  background-color: #7038f8;
  border: 1px solid #4924a1;
  color: #fff;
}
